HolidayReservationSystemCaRMSClient/src/META-INF/wsdl/localhost_8080/CarRentalManagementWebService/CarRentalManagementWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CarRentalManagementWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CarRentalManagementWebService/CarRentalManagementWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="cancelReservation">
<part name="parameters" element="tns:cancelReservation"/>
</message>
<message name="cancelReservationResponse">
<part name="parameters" element="tns:cancelReservationResponse"/>
</message>
<message name="searchForAvailableCarsResponse">
<part name="parameters" element="tns:searchForAvailableCarsResponse"/>
</message>
<message name="NoCarsException">
<part name="fault" element="tns:NoCarsException"/>
</message>
<message name="NoRentalRatesFoundException">
<part name="fault" element="tns:NoRentalRatesFoundException"/>
</message>
<message name="retrieveReservationsByPartnerId">
<part name="parameters" element="tns:retrieveReservationsByPartnerId"/>
</message>
<message name="retrieveReservationsByPartnerIdResponse">
<part name="parameters" element="tns:retrieveReservationsByPartnerIdResponse"/>
</message>
<message name="retrieveCustomerEntityByEmail">
<part name="parameters" element="tns:retrieveCustomerEntityByEmail"/>
</message>
<message name="retrieveCustomerEntityByEmailResponse">
<part name="parameters" element="tns:retrieveCustomerEntityByEmailResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="retrieveReservationEntityByReservationId">
<part name="parameters" element="tns:retrieveReservationEntityByReservationId"/>
</message>
<message name="retrieveReservationEntityByReservationIdResponse">
<part name="parameters" element="tns:retrieveReservationEntityByReservationIdResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="retrieveCustomerEntityByCustomerId">
<part name="parameters" element="tns:retrieveCustomerEntityByCustomerId"/>
</message>
<message name="retrieveCustomerEntityByCustomerIdResponse">
<part name="parameters" element="tns:retrieveCustomerEntityByCustomerIdResponse"/>
</message>
<message name="doLogin">
<part name="parameters" element="tns:doLogin"/>
</message>
<message name="doLoginResponse">
<part name="parameters" element="tns:doLoginResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<portType name="CarRentalManagementWebService">
<operation name="cancelReservation">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/cancelReservationRequest" message="tns:cancelReservation"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/cancelReservationResponse" message="tns:cancelReservationResponse"/>
</operation>
<operation name="searchForAvailableCars">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/searchForAvailableCarsRequest" message="tns:searchForAvailableCars"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/searchForAvailableCarsResponse" message="tns:searchForAvailableCarsResponse"/>
<fault message="tns:NoCarsException" name="NoCarsException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/searchForAvailableCars/Fault/NoCarsException"/>
<fault message="tns:NoRentalRatesFoundException" name="NoRentalRatesFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/searchForAvailableCars/Fault/NoRentalRatesFoundException"/>
</operation>
<operation name="retrieveReservationsByPartnerId">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveReservationsByPartnerIdRequest" message="tns:retrieveReservationsByPartnerId"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveReservationsByPartnerIdResponse" message="tns:retrieveReservationsByPartnerIdResponse"/>
</operation>
<operation name="retrieveCustomerEntityByEmail">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByEmailRequest" message="tns:retrieveCustomerEntityByEmail"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByEmailResponse" message="tns:retrieveCustomerEntityByEmailResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByEmail/Fault/CustomerNotFoundException"/>
</operation>
<operation name="retrieveReservationEntityByReservationId">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveReservationEntityByReservationIdRequest" message="tns:retrieveReservationEntityByReservationId"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveReservationEntityByReservationIdResponse" message="tns:retrieveReservationEntityByReservationIdResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveReservationEntityByReservationId/Fault/ReservationNotFoundException"/>
</operation>
<operation name="retrieveCustomerEntityByCustomerId">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByCustomerIdRequest" message="tns:retrieveCustomerEntityByCustomerId"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByCustomerIdResponse" message="tns:retrieveCustomerEntityByCustomerIdResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByCustomerId/Fault/CustomerNotFoundException"/>
</operation>
<operation name="doLogin">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/doLoginRequest" message="tns:doLogin"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/doLoginResponse" message="tns:doLoginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/doLogin/Fault/InvalidLoginException"/>
</operation>
</portType>
<binding name="CarRentalManagementWebServicePortBinding" type="tns:CarRentalManagementWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cancelReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchForAvailableCars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoCarsException">
<soap:fault name="NoCarsException" use="literal"/>
</fault>
<fault name="NoRentalRatesFoundException">
<soap:fault name="NoRentalRatesFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservationsByPartnerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCustomerEntityByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservationEntityByReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCustomerEntityByCustomerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="doLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CarRentalManagementWebService">
<port name="CarRentalManagementWebServicePort" binding="tns:CarRentalManagementWebServicePortBinding">
<soap:address location="http://localhost:8080/CarRentalManagementWebService/CarRentalManagementWebService"/>
</port>
</service>
</definitions>