HolidayReservationSystemCaRMSClient/xml-resources/web-service-references/CarRentalManagementWebService/wsdl/localhost_8080/CarRentalManagementWebService/CarRentalManagementWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CarRentalManagementWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CarRentalManagementWebService/CarRentalManagementWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createCustomerEntity">
<part name="parameters" element="tns:createCustomerEntity"/>
</message>
<message name="createCustomerEntityResponse">
<part name="parameters" element="tns:createCustomerEntityResponse"/>
</message>
<message name="retrieveReservationsByPartnerId">
<part name="parameters" element="tns:retrieveReservationsByPartnerId"/>
</message>
<message name="retrieveReservationsByPartnerIdResponse">
<part name="parameters" element="tns:retrieveReservationsByPartnerIdResponse"/>
</message>
<message name="updateRentalRateEntity">
<part name="parameters" element="tns:updateRentalRateEntity"/>
</message>
<message name="updateRentalRateEntityResponse">
<part name="parameters" element="tns:updateRentalRateEntityResponse"/>
</message>
<message name="retrieveCarModelsWithConditions">
<part name="parameters" element="tns:retrieveCarModelsWithConditions"/>
</message>
<message name="retrieveCarModelsWithConditionsResponse">
<part name="parameters" element="tns:retrieveCarModelsWithConditionsResponse"/>
</message>
<message name="calculateTotalRentalRate">
<part name="parameters" element="tns:calculateTotalRentalRate"/>
</message>
<message name="calculateTotalRentalRateResponse">
<part name="parameters" element="tns:calculateTotalRentalRateResponse"/>
</message>
<message name="NoRentalRatesFoundException">
<part name="fault" element="tns:NoRentalRatesFoundException"/>
</message>
<message name="retrieveOutletEntityByName">
<part name="parameters" element="tns:retrieveOutletEntityByName"/>
</message>
<message name="retrieveOutletEntityByNameResponse">
<part name="parameters" element="tns:retrieveOutletEntityByNameResponse"/>
</message>
<message name="OutletNotFoundException">
<part name="fault" element="tns:OutletNotFoundException"/>
</message>
<message name="createReservationEntity">
<part name="parameters" element="tns:createReservationEntity"/>
</message>
<message name="createReservationEntityResponse">
<part name="parameters" element="tns:createReservationEntityResponse"/>
</message>
<message name="updateReservationEntity">
<part name="parameters" element="tns:updateReservationEntity"/>
</message>
<message name="updateReservationEntityResponse">
<part name="parameters" element="tns:updateReservationEntityResponse"/>
</message>
<message name="retrieveCustomerEntityByEmail">
<part name="parameters" element="tns:retrieveCustomerEntityByEmail"/>
</message>
<message name="retrieveCustomerEntityByEmailResponse">
<part name="parameters" element="tns:retrieveCustomerEntityByEmailResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="retrieveCarCategoriesWithConditions">
<part name="parameters" element="tns:retrieveCarCategoriesWithConditions"/>
</message>
<message name="retrieveCarCategoriesWithConditionsResponse">
<part name="parameters" element="tns:retrieveCarCategoriesWithConditionsResponse"/>
</message>
<message name="retrieveCustomerEntityByCustomerId">
<part name="parameters" element="tns:retrieveCustomerEntityByCustomerId"/>
</message>
<message name="retrieveCustomerEntityByCustomerIdResponse">
<part name="parameters" element="tns:retrieveCustomerEntityByCustomerIdResponse"/>
</message>
<message name="retrieveCarCategoryEntityByCarCategoryId">
<part name="parameters" element="tns:retrieveCarCategoryEntityByCarCategoryId"/>
</message>
<message name="retrieveCarCategoryEntityByCarCategoryIdResponse">
<part name="parameters" element="tns:retrieveCarCategoryEntityByCarCategoryIdResponse"/>
</message>
<message name="CarCategoryNotFoundException">
<part name="fault" element="tns:CarCategoryNotFoundException"/>
</message>
<message name="retrieveCarModelEntityByCarModelId">
<part name="parameters" element="tns:retrieveCarModelEntityByCarModelId"/>
</message>
<message name="retrieveCarModelEntityByCarModelIdResponse">
<part name="parameters" element="tns:retrieveCarModelEntityByCarModelIdResponse"/>
</message>
<message name="CarModelNotFoundException">
<part name="fault" element="tns:CarModelNotFoundException"/>
</message>
<message name="retrieveRentalRateEntityByRentalRateId">
<part name="parameters" element="tns:retrieveRentalRateEntityByRentalRateId"/>
</message>
<message name="retrieveRentalRateEntityByRentalRateIdResponse">
<part name="parameters" element="tns:retrieveRentalRateEntityByRentalRateIdResponse"/>
</message>
<message name="RentalRateNotFoundException">
<part name="fault" element="tns:RentalRateNotFoundException"/>
</message>
<message name="retrieveReservationEntityByReservationId">
<part name="parameters" element="tns:retrieveReservationEntityByReservationId"/>
</message>
<message name="retrieveReservationEntityByReservationIdResponse">
<part name="parameters" element="tns:retrieveReservationEntityByReservationIdResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="doLogin">
<part name="parameters" element="tns:doLogin"/>
</message>
<message name="doLoginResponse">
<part name="parameters" element="tns:doLoginResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<message name="setRentalRateAsUsed">
<part name="parameters" element="tns:setRentalRateAsUsed"/>
</message>
<message name="setRentalRateAsUsedResponse">
<part name="parameters" element="tns:setRentalRateAsUsedResponse"/>
</message>
<portType name="CarRentalManagementWebService">
<operation name="createCustomerEntity">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/createCustomerEntityRequest" message="tns:createCustomerEntity"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/createCustomerEntityResponse" message="tns:createCustomerEntityResponse"/>
</operation>
<operation name="retrieveReservationsByPartnerId">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveReservationsByPartnerIdRequest" message="tns:retrieveReservationsByPartnerId"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveReservationsByPartnerIdResponse" message="tns:retrieveReservationsByPartnerIdResponse"/>
</operation>
<operation name="updateRentalRateEntity">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/updateRentalRateEntityRequest" message="tns:updateRentalRateEntity"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/updateRentalRateEntityResponse" message="tns:updateRentalRateEntityResponse"/>
</operation>
<operation name="retrieveCarModelsWithConditions">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCarModelsWithConditionsRequest" message="tns:retrieveCarModelsWithConditions"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCarModelsWithConditionsResponse" message="tns:retrieveCarModelsWithConditionsResponse"/>
</operation>
<operation name="calculateTotalRentalRate">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/calculateTotalRentalRateRequest" message="tns:calculateTotalRentalRate"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/calculateTotalRentalRateResponse" message="tns:calculateTotalRentalRateResponse"/>
<fault message="tns:NoRentalRatesFoundException" name="NoRentalRatesFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/calculateTotalRentalRate/Fault/NoRentalRatesFoundException"/>
</operation>
<operation name="retrieveOutletEntityByName">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveOutletEntityByNameRequest" message="tns:retrieveOutletEntityByName"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveOutletEntityByNameResponse" message="tns:retrieveOutletEntityByNameResponse"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveOutletEntityByName/Fault/OutletNotFoundException"/>
</operation>
<operation name="createReservationEntity">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/createReservationEntityRequest" message="tns:createReservationEntity"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/createReservationEntityResponse" message="tns:createReservationEntityResponse"/>
</operation>
<operation name="updateReservationEntity">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/updateReservationEntityRequest" message="tns:updateReservationEntity"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/updateReservationEntityResponse" message="tns:updateReservationEntityResponse"/>
</operation>
<operation name="retrieveCustomerEntityByEmail">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByEmailRequest" message="tns:retrieveCustomerEntityByEmail"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByEmailResponse" message="tns:retrieveCustomerEntityByEmailResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByEmail/Fault/CustomerNotFoundException"/>
</operation>
<operation name="retrieveCarCategoriesWithConditions">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCarCategoriesWithConditionsRequest" message="tns:retrieveCarCategoriesWithConditions"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCarCategoriesWithConditionsResponse" message="tns:retrieveCarCategoriesWithConditionsResponse"/>
</operation>
<operation name="retrieveCustomerEntityByCustomerId">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByCustomerIdRequest" message="tns:retrieveCustomerEntityByCustomerId"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByCustomerIdResponse" message="tns:retrieveCustomerEntityByCustomerIdResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCustomerEntityByCustomerId/Fault/CustomerNotFoundException"/>
</operation>
<operation name="retrieveCarCategoryEntityByCarCategoryId">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCarCategoryEntityByCarCategoryIdRequest" message="tns:retrieveCarCategoryEntityByCarCategoryId"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCarCategoryEntityByCarCategoryIdResponse" message="tns:retrieveCarCategoryEntityByCarCategoryIdResponse"/>
<fault message="tns:CarCategoryNotFoundException" name="CarCategoryNotFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCarCategoryEntityByCarCategoryId/Fault/CarCategoryNotFoundException"/>
</operation>
<operation name="retrieveCarModelEntityByCarModelId">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCarModelEntityByCarModelIdRequest" message="tns:retrieveCarModelEntityByCarModelId"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCarModelEntityByCarModelIdResponse" message="tns:retrieveCarModelEntityByCarModelIdResponse"/>
<fault message="tns:CarModelNotFoundException" name="CarModelNotFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveCarModelEntityByCarModelId/Fault/CarModelNotFoundException"/>
</operation>
<operation name="retrieveRentalRateEntityByRentalRateId">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveRentalRateEntityByRentalRateIdRequest" message="tns:retrieveRentalRateEntityByRentalRateId"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveRentalRateEntityByRentalRateIdResponse" message="tns:retrieveRentalRateEntityByRentalRateIdResponse"/>
<fault message="tns:RentalRateNotFoundException" name="RentalRateNotFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveRentalRateEntityByRentalRateId/Fault/RentalRateNotFoundException"/>
</operation>
<operation name="retrieveReservationEntityByReservationId">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveReservationEntityByReservationIdRequest" message="tns:retrieveReservationEntityByReservationId"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveReservationEntityByReservationIdResponse" message="tns:retrieveReservationEntityByReservationIdResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/retrieveReservationEntityByReservationId/Fault/ReservationNotFoundException"/>
</operation>
<operation name="doLogin">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/doLoginRequest" message="tns:doLogin"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/doLoginResponse" message="tns:doLoginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/doLogin/Fault/InvalidLoginException"/>
</operation>
<operation name="setRentalRateAsUsed">
<input wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/setRentalRateAsUsedRequest" message="tns:setRentalRateAsUsed"/>
<output wsam:Action="http://ws.session.ejb/CarRentalManagementWebService/setRentalRateAsUsedResponse" message="tns:setRentalRateAsUsedResponse"/>
</operation>
</portType>
<binding name="CarRentalManagementWebServicePortBinding" type="tns:CarRentalManagementWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createCustomerEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservationsByPartnerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateRentalRateEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCarModelsWithConditions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateTotalRentalRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoRentalRatesFoundException">
<soap:fault name="NoRentalRatesFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveOutletEntityByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createReservationEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateReservationEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCustomerEntityByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCarCategoriesWithConditions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCustomerEntityByCustomerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCarCategoryEntityByCarCategoryId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarCategoryNotFoundException">
<soap:fault name="CarCategoryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCarModelEntityByCarModelId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarModelNotFoundException">
<soap:fault name="CarModelNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveRentalRateEntityByRentalRateId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RentalRateNotFoundException">
<soap:fault name="RentalRateNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservationEntityByReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="doLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="setRentalRateAsUsed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CarRentalManagementWebService">
<port name="CarRentalManagementWebServicePort" binding="tns:CarRentalManagementWebServicePortBinding">
<soap:address location="http://localhost:8080/CarRentalManagementWebService/CarRentalManagementWebService"/>
</port>
</service>
</definitions>